<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gwendal Nogues - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        <header>
            <nav class="navbar">
            <a href="{{ path('home') }}"><h2>G W E N D A L <span>&nbsp;</span> N O G U E S</h2></a>
                <ul>
                    <li><a href="{{ path('home') }}">A propos</a></li>
                    <li><a href="{{ path('skills') }}">Skills</a></li>
                    <li><a href="{{ path('works') }}">Travaux</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
