<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gwendal Nogues - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/a992aa71c9.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
            
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar container">
            <a href="{{ path('home') }}" class="navName">G W E N D A L</a>
                <div class="navList">
                    <ul>
                        <li><a href="{{ path('home') }}">A propos</a></li>
                        <li><a href="{{ path('formations') }}">Formations</a></li>
                        <li><a href="{{ path('works') }}">Travaux</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <h3>Me contacter : </h3>
            <div class="socials">
                <a href="https://github.com/Gongagaga"><i class="fa-brands fa-github fa-xl"></i></a>
                <a href="https://www.linkedin.com/in/gwendal-nogues-1369a3217/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a href="mailto:gwendal.nog@gmail.com"><i class="fa-solid fa-envelope fa-xl"></i></a>
            </div>
            <h5 class="legalsFooter">© Gwendal NOGUES | <a href="{{ path('legal') }}">Mentions légales</a></h5>
        </footer>
        <script src="{{ asset('script.js') }}"></script>
        <script src="{{ asset('showHide.js') }}"></script>
    </body>
</html>
